body {
  font-family: 'Lato', sans-serif;
  /* font-family: 'Roboto Slab', serif; */
  color: #555;
}

img {
  width: 100%;
}

section {
  max-width: 960px;
  margin: 2em auto;
}
canvas {
  margin-top: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bio-view {
  flex-direction: row;
}

.bill-info-container{
  margin: 1%;
  padding: 1%;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: space-around;
}


.search-contain {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.poli-info {
  display: flex;
  flex-direction: row;
}

figure.poli-picture {
  width: 30%;
  border-radius: 50%;
}

.general-info, .financial-charts {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}
.ui-autocomplete {
  background-color: white;
  color: black;
  margin-top: 5em;
}


.ui-menu-item:hover {
  background-color: black;
  color: white;
}
#bio-style {
  margin-top: 7em;
}
/*.aboutLink {
  z-index: 0;
}*/
/*}*/
/*.ui-menu{
  background-color: blue;
  position: absolute;
}*/

/*.financial-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}*/
