#searchTitle {
  color: white;
  font-size: 5em;
  text-align: center;
}

#chart-container {
  padding-left: 120px;
}

.header {
  height: 5rem;
  max-width: 100%;
  width: 100%;
  padding-bottom: 4.25rem;
  padding-top: 1.25rem;
  margin: 0px;
  position: fixed;
  background-color: rgb(150, 2, 201);
  color: #fff;

}

.header-container {
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  max-width: 98%;
}

.header-container > h1{
  margin: 0;
}

.search {
  font-size: 3em;
}

.searchBtn {
  display: inline-block;
  font-size: 3em;
  margin-left: .2em;
  color: #fff;
  background-color: rgb(150, 2, 201);
  border: 0;
}

#bio-view ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

#bio-view ul, #bio-view a {
  color: black;
  text-decoration: none;
}

.bill-info {
  -webkit-flex: 1 6 20%;
  flex: 1 6 20%;
  -webkit-order: 1;
  order: 1;
  color: #fff;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

figure.poli-picture {
  margin-left: 0;
}

figure.poli-picture img {
  border-radius: 50%;
}

@media only screen and (max-width: 660px) {
  .search-contain {
    flex-direction: column;
    font-size: 0.75em;
  }

  .searchBtn {
    display: inline-block;
    margin-top: .2em;
    max-width: 50%;
    margin: .2em auto 0 auto;
  }
}



@media only screen and (max-width: 400px) {
  .header-container {
    flex-flow: column;
  }
  .header {
    height: 11rem;
  }
  #bio-style {
    margin-top: 10em;
  }
  #about-view {
    margin-top: 12rem;
  }
}
