#searchTitle {
  color: white;
  font-size: 5em;
  text-align: center;
}

.header {
  /*background-color: rgb(187, 255, 89);*/
  height: 5rem;
  max-width: 100%;
  width: 100%;
  padding: 1.25rem;
  margin: 0px;
  position: fixed;
  background-color: rgb(150, 2, 201);
  color: #fff;

}

.header-container {
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.header-container > h1{
  margin: 0;
}

.search {
  font-size: 3em;
}
.searchBtn {
  display: inline-block;
  font-size: 3em;
  margin-left: .2em;
  color: #fff;
  background-color: rgb(150, 2, 201);
  border: 0;
}

.bill-info {
  -webkit-flex: 1 6 20%;
  flex: 1 6 20%;
  -webkit-order: 1;
  order: 1;
  color: #fff;
}

.right {
  text-align: right;
}

figure.poli-picture {
  margin-left: 0;
}

figure.poli-picture img {
  border-radius: 50%;
}

@media only screen and (max-width: 660px) {
  .search-contain {
    flex-direction: column;
    font-size: 0.75em;
  }

  .searchBtn {
    display: inline-block;
    margin-top: .2em;
    max-width: 50%;
    margin: .2em auto 0 auto;
  }
}

@media (max-width: 550px) {
  /*.container {
    margin-top: 20%;
  }*/
}

@media only screen and (max-width: 400px) {
  .header-container {
    flex-flow: column;
  }
  .header {
    height: 8rem;
  }
  /*.container {
    margin-top: 50%;
  }*/
}
