body {
  font-family: 'Lato', sans-serif;
  /* font-family: 'Roboto Slab', serif; */
  color: #555;
}

img {
  width: 100%;
}

section {
  max-width: 960px;
  margin: 2em auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bill-info-container{
  margin: 1%;
  padding: 1%;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: space-around;
}

.position-yes {
  background-color: rgb(130, 255, 135);
  border: 2px solid rgb(27, 194, 0);
  border-radius: 10px;
}

.position-no {
  background-color: rgb(255, 112, 112);
  border: 2px solid rgb(227, 58, 58);
  border-radius: 10px;
}
.search-contain {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.poli-info {
  display: flex;
  flex-direction: row;
}

figure.poli-picture {
  width: 30%;
  border-radius: 50%;
}

.general-info, .financial-charts {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

/*.financial-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}*/
