body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)
    ),
    url('https://upload.wikimedia.org/wikipedia/commons/7/7b/Capitol1846.jpg');
  background-size: cover;
}
#searchTitle {
  color: white;
  font-size: 5em;
  text-align: center;

}


.search {
  font-size: 3em;
}
.searchBtn {
  font-size: 3em;
}

@media (min-width: 550px) {
  .container {
    display: flex;
    margin-top: 12%;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 400px) {
  .container {
    display: flex;
    margin-top: 50%;
    flex-direction: row;
    justify-content: center;
  }
}
